@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.min.css";

.text-inter {
    font-family: var(--font-inter), sans-serif;
}

/* Custom theme with Tailwind tokens */
@theme inline {
    --font-inter: "Inter", monospace;

    /* Light mode */
    --color-bg: #f8fafc; /* very light gray instead of pure white */
    --color-surface: #e2e8f0; /* slate-200 */
    --color-text: #0f172a; /* slate-900 */
    --color-text-muted: #475569; /* slate-600 */
    --color-primary: #14b8a6; /* teal-500 */
    --color-secondary: #1e293b; /* slate-800 */
}

/* Dark mode */
[data-theme="dark"] {
    --color-bg: #0f172a; /* slate-900 */
    --color-surface: #1e293b; /* slate-800 */
    --color-text: #f8fafc; /* very light gray for readability */
    --color-text-muted: #94a3b8; /* slate-400 */
    --color-primary: #2dd4bf; /* teal-400 */
    --color-secondary: #334155; /* slate-700 */
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font-space-mono), monospace;
}

html {
    scroll-behavior: smooth;
}

input,
textarea {
    @apply rounded-sm border-b border-b-primary bg-transparent p-3  focus:outline-none focus:ring-2 focus:ring-primary w-full;
}
